extends viewmode_modal
block modal_content
	table.table.table-sm.table-bordered#csv_table
		thead
			tr
				each header in array[0]
					th=header
		tbody
			each row,i in array
				if i>0
					tr
						each cell in row
							td=cell