div.p-5
	div.d-block
		div.media
			img.align-self-center(src='open-iconic/svg/folder.svg').icon
			div.media-body
				label.px-2.m-auto='App'
		div.mx-4.d-block
			each folder, i in locals.content
				div.media
					img.align-self-center(src='open-iconic/svg/folder.svg').icon
					div.media-body
						label.px-2.m-auto=folder.name
				div.mx-4
					each file, j in folder.files
						table.table.table-hover.table-borderless.table-sm.m-0(id='row_' + i + j)
							tbody
								tr
									th.d-inline-block
										img(src='open-iconic/svg/file.svg').icon
									th.d-inline-block
										label.m-auto=file.name
									th.d-none(id='controls_for_row_' + i + j)
										div
											button.btn.btn-sm.p-0.border-0(onclick='viewFile("' + file.name + '","' + file.fullpath +'")')
												img(src='open-iconic/svg/eye.svg').icon
											button.btn.btn-sm.p-0.border-0.mx-1(onclick='downloadFile("' + file.name + '","' + file.root +'")')
												img(src='open-iconic/svg/data-transfer-download.svg').icon
											button.btn.btn-sm.p-0.border-0(onclick='deleteFile("' + file.fullpath + '",' + '"row_' + i + j + '")')
												img(src='open-iconic/svg/trash.svg').icon