div
	table.table.table-bordered.table-sm
		thead
			tr
				th(scope='col')='Файл'
				th(scope='col')='Папка в приложении'
				th(scope='col')='Тип'
			tbody#tbody
	div
		button.btn.btn-secondary.mx-auto.d-block(style='width:150px')#add_utr='+'