extends layout
block content
	div.table-bordered#main
		div.btn-group.btn-group-toggle.m-auto.sticky-top.w-100(data-toggle='buttons')#pagetoggles
			label.col.rounded-0.btn.btn-outline-secondary.active='Загрузка и просмотр файлов'
				input#option1(type='radio' name='datauploadpage' autocomplete='off' checked)
			label.col.rounded-0.btn.btn-outline-secondary='Сопоставление шаблонов и данных'
				input#option2(type='radio' name='datalinkpage' autocomplete='off')
			label.col.rounded-0.btn.btn-outline-secondary='Статус'
				input#option3(type='radio' name='statuspage' autocomplete='off')
			label.col.rounded-0.btn.btn-outline-secondary='Запуск модели'
				input#option4(type='radio' name='launchpage' autocomplete='off')
		div#content()
			div
	script(src='/javascripts/init.js')