tr.d-flex
	td.col-4
		div.input-group
			input.form-control.overflow-hidden(id='selected_template_' + locals.id disabled)
			div.input-group-append
				button.btn.btn-outline-secondary(id='browse_temp_' + locals.id )
					img(src='open-iconic/svg/magnifying-glass.svg').icon
	td.col-4
		div.input-group
			input.form-control.overflow-hidden(id='selected_data_' + locals.id disabled)
			div.input-group-append
				button.btn.btn-outline-secondary(id='browse_data_' + locals.id )
					img(src='open-iconic/svg/magnifying-glass.svg').icon
	td.col
		div.input-group
			input.form-control.rounded-0(type='text' id='selected_splitter_' + locals.id value=locals.spl)
	td.col
		div.input-group
			input.form-control.rounded-0(type='text' id='selected_rowsym_' + locals.id value=locals.nrow)
	td.col
		div.input-group.d-block
			div.input-group-text.d-block.rounded-0
				input(type='checkbox' id='selected_state_' + locals.id checked)