.toast(role="alert" aria-live="assertive" aria-atomic="true" data-delay="2500")
	.toast-header
		img.mr-2.icon(src="/open-iconic/svg/check.svg")
		strong.mr-auto=header
		button.ml-2.mb-1.close(type='button' data-dismiss="toast" aria-label="Close")
			span(aria-hidden=true) &times;
	if(message)
		.toast-body #{message}