block uv_content
	#upload_ui
		table.table.table-bordered
			thead
				tr.d-flex
					th.col-4.text-center(scope='col')='Файл'
					th.col-4.text-center(scope='col')='Папка в приложении'
					th.col.text-center(scope='col')='Тип'
					th.col.text-center(scope='col')='Кодировка'
				tbody#up_tbody
		div
			button.btn.btn-secondary.mx-auto.rounded-0.d-block(style='width:150px')#add_utr='+'
		script.
			$.getScript('/javascripts/uploadpage.js')