block sections
	#uv_content.overflow-auto
		block uv_content
			include viewpage_html
	.input-group.p-3.fixed-bottom#footer
		div
			.btn-group.btn-group-toggle.d-block.m-auto(data-toggle='buttons')#modetoggles
				label.rounded-0.btn.btn-outline-secondary(class=(mode==='view' ? 'active' : null))='Режим просмотра'
					a()
					input#viewmode(type='radio' name='view' autocomplete='off' checked=(mode==='view'))
				label.rounded-0.btn.btn-outline-secondary(class=(mode==='upload' ? 'active' : null))='Режим загрузки'
					a(href='/upload_and_view/upload')
					input#upmode(type='radio' name='upload' autocomplete='off' checked=(mode==='upload'))
		.d-block
			button.btn.btn-secondary.m-auto.position-absolute(type='button' style='right:30px; display: ' + (mode ==='upload' ? 'true' : 'none'))#btn_upload='Загрузить'
	script(src='/javascripts/utr.js')
	script(src='/javascripts/uploadandview.js')
	script(src='/jsviews/utr_ui.js')
	script(src='/jsviews/dup_viewmode_modal.js')